


<!DOCTYPE html>
<html>
<head>
   <title><%= title %></title>
   <link rel='stylesheet' href='/css/style.css'/>
</head>
<body>
<img src="/images/shop.png" height="150px" width="auto"> <%= title %>
<p><%= name %></p>
<table>
   <tr>
       <th>Name</th>
       <th>Brand</th>
       <th>Price</th>
   </tr>
   <% products.forEach((product, index) => { %>
   <tr>
       <td><a href="/product/<%= product.product_id%>"><%= product.product_name %></a></td>
       <td><%= product.brand_id %></a></td>
       <td><%= product.list_price %></a></td>
   </tr>
   <% }) %>
</table>
</body>
</html>